;; -*- mode: scheme; -*-
;; This is an operating system configuration template for a "Docker image"
;; setup, so it has barely any services at all.

(use-modules (gnu)
             (gnu services base)
             (srfi srfi-1))

(operating-system
  (host-name "brix-os")
  (timezone "Asia/Dhaka")
  (locale "en_GB.utf8")

  ;; This is where user accounts are specified.  The "root" account is
  ;; implicit, and is initially created with the empty password.
  (users (cons (user-account
                (name "brix")
                (comment "Build your bricks!")
                (group "users")
                (supplementary-groups '("wheel"
                                        "audio" "video")))
               %base-user-accounts))

  ;; Globally-installed packages.
  (packages %base-packages)

  ;; Because the system will run in a Docker container, we may omit many
  ;; things that would normally be required in an operating system
  ;; configuration file.  These things include:
  ;;
  ;;   * bootloader
  ;;   * file-systems
  ;;   * services such as mingetty, udevd, slim, networking, dhcp
  ;;
  ;; Either these things are simply not required, or Docker provides
  ;; similar services for us.

  ;; This will be ignored.
  (bootloader (bootloader-configuration
               (bootloader grub-bootloader)
               (targets '("does-not-matter"))))
  ;; This will be ignored, too.
  (file-systems (cons* (file-system
                         (device "/dev/null")
                         (mount-point "/")
                         (type "dummy")
                         (check? #f)
                         (mount-may-fail? #t))
                       %base-file-systems))

  (services
      (modify-services
          
          (remove (lambda (service)
                    (member (service-kind service)
                            (list login-service-type
                                   virtual-terminal-service-type
                                   console-font-service-type
                                   agetty-service-type
                                   mingetty-service-type)))
                  %base-services)

        (guix-service-type config =>
                           (guix-configuration
                             (inherit config)
                             (generate-substitute-key? #f)))

        )

      ))
